<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>home - mustache</title>
</head>

<body>
    <h3>/templates/home.mustache</h3>
    <hr>

    <h4>KEY: {{_KEY_}}</h4>

</body>

</html>
